.DS_Store

# Next.js
app/.next/
app/node_modules/
app/.env.local
app/npm-debug.log*

# Terraform
infra/terraform/.terraform/
infra/terraform/.terraform.lock.hcl
infra/terraform/backend.hcl
infra/terraform/terraform.tfvars
infra/terraform/terraform.tfstate*
infra/terraform/lambda/*.zip

# Local outputs
tmp/
