AWS_REGION=ap-northeast-1
COGNITO_CLIENT_ID=replace-with-terraform-output
BACKEND_API_URL=https://replace.execute-api.ap-northeast-1.amazonaws.com
SESSION_SECRET=replace-with-openssl-rand-base64-32
SESSION_MAX_AGE_SECONDS=3600
SESSION_COOKIE_SECURE=false
ENABLE_TOKEN_DEBUG=false
